<div class="container">
  <h1>Productos</h1>

  <p>Hola {{firstName}} {{lastName}}</p>
  <p>To rol es de: {{role}}</p>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Precio</th>
      <th>Código</th>
      <th>Stock</th>
    </tr>
    {{#each products}}
      <tr>
        <td>{{this._id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>${{this.price}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
      </tr>
    {{/each}}
  </table>
</div>

<h2>Salir del sistema</h2>
<button onclick="location.href='/logout'">Salir</button>